.sidebar {
    min-width: 500px;
    width:500px;
    height:100%;
    flex-direction: vertical;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-track-color: transparent;
}
.form {
    height: 100%;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #444;
    height: 30px;
}

.header {
    text-align: center;
    border-bottom: 2px solid #bbb;
}