

.chevron {
    position: relative;
    text-align: center;
    margin-top:12px;
    padding: 2px;
    height: 4px;
    width: 220px;
  }  
  .chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: #6C7293;
    transform: skew(0deg, 10deg);
  }
  .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: #6C7293;
    transform: skew(0deg, -10deg);
  }​

.chevronButton {
    margin-left: -100px;
    margin-right: -100px;
}

.rotateLeft {
    transform: rotate(-90deg);
}

.rotateRight {
    transform: rotate(90deg);
}

iframe {
    height: calc(100vh - 47px)
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.hoverable-row {
    cursor: pointer;
}

.evaluation-wrapper {
    flex-direction:row;
    display:flex;
    width:calc(100vw - 576px);
    overflow-x: scroll;
}

.horizontal {
    flex-direction: horizontal;
}

.base {
    height: 100%;
}

.main {
    width: 100%;
    resize: horizontal;
    text-align: center;

}

.tabs-hor {
    width: 250px;
    color: #999;
    display: flex;
}

.tab-hor {
    flex: 1;
}

.tab-hor:hover {
    color: #e5e5e5
}

.tab-hor-active {
    border-bottom: 2px solid #e5e5e5;
    color: #e5e5e5
}



.grabbable:hover {
    cursor: pointer;
}





.propertyList {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 17px
}

.border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}

.expand {
    float: right;
}

.expand-left {
    position: relative;
}


.collapsed {
    // background-color: rgba(0, 0, 0, 0.2);
    text-indent: 10px;
}

.add {
    width: 100%
}




.header-right {
    float:right;
    height: 100%;
    display: none;
}

.header-wrap:hover .header-right {
    display: block;
}


.draggable {

    /* avoid selecting text while dragging */
    user-select: none;
}

.dragAbove {
    border-top: dashed 2px;
}

.dragUnder {
    border-bottom: dashed 2px;
}

.highlight {
    background-color: rgba(255, 255, 255, 0.2);
}

#display-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#display-left {
    width: 50%;
    height: 100vh;
    background-color: #222;
    display: flex;
    overflow: hidden;
    align-items: center;
    text-align: center;
}



#display-right {
    height: 100vh;
    background-color: #222;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    text-align: center;
    :-moz-drag-over {
        background-color: #333;
    }
}

#display-center {
    height: 100vh;
    width: 5px;
    background-color: #111;
}

#display-center:hover {
    cursor: col-resize;
}

.image-header {
    width: 100%;
    height: 40px;
    background-color: #191919;
    text-align: left;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.image-container {
    width: 100%;
    height: 100vh;
    
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 100%
}

#dialog-container {
    display: grid;
    grid-template-columns: 140px 200px;
    grid-template-rows: 70px 70px;
    margin: 4px;
}

#dialog-text {
    color: "black";
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 4px;

    text-align: center;
    display:flex;
    align-items: center;
}

#dialog-progress {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 10px;
    margin-top: 20px;


    > * {
        width: 210px;
        padding:1px;
        background-color: #11529333;

    }
}

#dialog-image {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 4px;
}